@font-face {
  font-family: 'Kotta One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kottaone/v20/S6u_w41LXzPc_jlfNWqPHw.woff) format('woff');
}
 
